html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

button {
  transition: all 0.2s ease;
}
button:hover {
  transform: scale(1.03);
}
